/* colors */
:root {
    /* Primary */
    --primary-50: #FAFAFF;
    --primary-100: #E8E8FF;
    --primary-200: #BCBCFF;
    --primary-300: #6868FF;
    --primary-400: #0000FB;
    --primary-500: #0000C8;
    --primary-600: #00007E;
    --primary-700: #000048;
    --primary-800: #00002F;
    --primary-900: #00000A;

    /* Accent 1 */
    --cyan-50: #FAFAFF;
    --cyan-100: #E8FEFF;
    --cyan-200: #BCFBFF;
    --cyan-300: #68F6FF;
    --cyan-400: #00ECFB;
    --cyan-500: #00BCC8;
    --cyan-600: #00777E;
    --cyan-700: #004448;
    --cyan-800: #002C2F;
    --cyan-900: #00090A;

    /* Accent 2 */
    --purple-50: #FDFAFF;
    --purple-100: #F8E8FF;
    --purple-200: #EABCFF;
    --purple-300: #CF68FF;
    --purple-400: #BA00FB;
    --purple-500: #9400C8;
    --purple-600: #5E007E;
    --purple-700: #350048;
    --purple-800: #23002F;
    --purple-900: #07000A;

    /* Accent 3 */
    --pink-50: #FFFAFF;
    --pink-100: #FEE8FF;
    --pink-200: #FDBCFF;
    --pink-300: #FA68FF;
    --pink-400: #F200FB;
    --pink-500: #C100C8;
    --pink-600: #7A007E;
    --pink-700: #460048;
    --pink-800: #2C002F;
    --pink-900: #0A000A;
}

.primary50 {
    color: var(--primary-50);
}

.primary100 {
    color: var(--primary-100);
}

.primary200 {
    color: var(--primary-200);
}

.primary300 {
    color: var(--primary-300);
}

.primary400 {
    color: var(--primary-400);
}

.primary500 {
    color: var(--primary-500);
}

.primary600 {
    color: var(--primary-800);
}

.primary700 {
    color: var(--primary-800);
}

.primary800 {
    color: var(--primary-800);
}

.primary900 {
    color: var(--primary-900);
}

/*  */

.cyan50 {
    color: var(--cyan-50);
}

.cyan100 {
    color: var(--cyan-100);
}

.cyan200 {
    color: var(--cyan-200);
}

.cyan300 {
    color: var(--cyan-300);
}

.cyan400 {
    color: var(--cyan-400);
}

.cyan500 {
    color: var(--cyan-500);
}

.cyan600 {
    color: var(--cyan-600);
}

.cyan700 {
    color: var(--cyan-700);
}

.cyan800 {
    color: var(--cyan-800);
}

.cyan900 {
    color: var(--cyan-900);
}

/*  */

.purple50 {
    color: var(--purple-50);
}

.purple100 {
    color: var(--purple-100);
}

.purple200 {
    color: var(--purple-200);
}

.purple300 {
    color: var(--purple-300);
}

.purple400 {
    color: var(--purple-400);
}

.purple500 {
    color: var(--purple-500);
}

.purple600 {
    color: var(--purple-600);
}

.purple700 {
    color: var(--purple-700);
}

.purple800 {
    color: var(--purple-800);
}

.purple900 {
    color: var(--purple-900);
}

/*  */

.pink50 {
    color: var(--pink-50);
}

.pink100 {
    color: var(--pink-100);
}

.pink200 {
    color: var(--pink-200);
}

.pink300 {
    color: var(--pink-300);
}

.pink400 {
    color: var(--pink-400);
}

.pink500 {
    color: var(--pink-500);
}

.pink600 {
    color: var(--pink-600);
}

.pink700 {
    color: var(--pink-700);
}

.pink800 {
    color: var(--pink-800);
}

.pink900 {
    color: var(--pink-900);
}

/* Fonts */